.sidebar {
  width: 250px;
  background: #1e293b;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

/* LOGO */

.logo {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nav-links a {
  text-decoration: none;
  color: #cbd5f5;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s;
}

/* HOVER */

.nav-links a:hover {
  background: #334155;
  color: white;
}
/* ACTIVE LINK */

.nav-links a.active {
  background: #3b82f6;
  color: white;
}
